<?php
// Duplicate this file, remove the .dist extension and replace the empty strings with your values.
define("DATABASE_HOST", "");
define("DATABASE_USER", "");
define("DATABASE_PASS", "");
define("DATABASE_DB", "");